body {
	font-family: sans-serif;
}

span.error{
	color:red;
}

label.error {
	color: red;
}

input.error {
	background-color: #ffcccc;
}

div.error {
	background-color: #ffcccc;
	border: 2px solid red;
}